.footer_container{
    
}

.footer_content{
    background: #0D99FF;
    margin-top: 10%;
}

.footer_genadrop{
 display: flex;
 margin-left: 5%;
 padding-top: 30px;
 justify-content: space-between;

 height: 40px;
}

.footer_privacy{
    text-align: start;
    font-family: SF Pro Display;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
margin-top: 10%;
color: white;
margin-left: 5%;
border-top: 1px solid white;

}

.footer_pinata{
    margin-left: 5%;
}

.footer_twitter{
    display: flex;
    margin-left: 5%;
    margin-top: 40px;
    
}

.footer_love{
 position: relative;
 left: 100px;
}

.footer_support{
    display: grid;
    grid-template-columns: auto auto auto ;
  column-gap: 40px;
  width: max-content;
 
    color: white;
    font-family: SF Pro Display;

margin-right: 5%;

letter-spacing: 0em;
text-align: left;

 align-items: center;
}

@media screen and (max-width:1024px) {
      .footer_love{
       left: 0px;
      }
      .footer_support{
       position: relative;
       bottom: 30px;
      }
    }

@media screen and (max-width:1024px) {
        .footer_love{
         left: 0px;
        }
        .footer_support{
         gap: 5px;
       
         font-size: small;
        }

        .footer_twitter{
            
        }
      }
  